keybinds clear-defaults=true {
    locked {
        bind "Ctrl g" { SwitchToMode "normal"; }
    }
    pane {
        bind "c" { SwitchToMode "renamepane"; PaneNameInput 0; }
        bind "d" { NewPane "down"; SwitchToMode "locked"; }
        bind "e" { TogglePaneEmbedOrFloating; SwitchToMode "locked"; }
        bind "h" { MoveFocus "left"; }
        bind "j" { MoveFocus "down"; }
        bind "k" { MoveFocus "up"; }
        bind "l" { MoveFocus "right"; }
        bind "n" { NewPane; SwitchToMode "locked"; }
        bind "p" { SwitchToMode "normal"; }
        bind "r" { NewPane "right"; SwitchToMode "locked"; }
        bind "w" { ToggleFloatingPanes; SwitchToMode "locked"; }
        bind "x" { CloseFocus; SwitchToMode "locked"; }
        bind "z" { TogglePaneFrames; SwitchToMode "locked"; }
        bind "tab" { SwitchFocus; }
    }
    tab {
        bind "1" { GoToTab 1; SwitchToMode "locked"; }
        bind "2" { GoToTab 2; SwitchToMode "locked"; }
        bind "3" { GoToTab 3; SwitchToMode "locked"; }
        bind "4" { GoToTab 4; SwitchToMode "locked"; }
        bind "5" { GoToTab 5; SwitchToMode "locked"; }
        bind "6" { GoToTab 6; SwitchToMode "locked"; }
        bind "7" { GoToTab 7; SwitchToMode "locked"; }
        bind "8" { GoToTab 8; SwitchToMode "locked"; }
        bind "9" { GoToTab 9; SwitchToMode "locked"; }
        bind "[" { BreakPaneLeft; SwitchToMode "locked"; }
        bind "]" { BreakPaneRight; SwitchToMode "locked"; }
        bind "b" { BreakPane; SwitchToMode "locked"; }
        bind "h" { GoToPreviousTab; }
        bind "j" { GoToNextTab; }
        bind "k" { GoToPreviousTab; }
        bind "l" { GoToNextTab; }
        bind "n" { NewTab; SwitchToMode "locked"; }
        bind "r" { SwitchToMode "renametab"; TabNameInput 0; }
        bind "s" { ToggleActiveSyncTab; SwitchToMode "locked"; }
        bind "t" { SwitchToMode "normal"; }
        bind "x" { CloseTab; SwitchToMode "locked"; }
        bind "tab" { ToggleTab; }
    }
    resize {
        bind "+" { Resize "Increase"; }
        bind "-" { Resize "Decrease"; }
        bind "=" { Resize "Increase"; }
        bind "H" { Resize "Decrease left"; }
        bind "J" { Resize "Decrease down"; }
        bind "K" { Resize "Decrease up"; }
        bind "L" { Resize "Decrease right"; }
        bind "h" { Resize "Increase left"; }
        bind "j" { Resize "Increase down"; }
        bind "k" { Resize "Increase up"; }
        bind "l" { Resize "Increase right"; }
        bind "r" { SwitchToMode "normal"; }
    }
    move {
        bind "h" { MovePane "left"; }
        bind "j" { MovePane "down"; }
        bind "k" { MovePane "up"; }
        bind "l" { MovePane "right"; }
        bind "m" { SwitchToMode "normal"; }
        bind "n" { MovePane; }
        bind "p" { MovePaneBackwards; }
        bind "tab" { MovePane; }
    }
    scroll {
       bind "e" { EditScrollback; SwitchToMode "locked"; }
       bind "f" { SwitchToMode "entersearch"; SearchInput 0; }
       bind "s" { SwitchToMode "normal"; }
    }
    search {
        bind "c" { SearchToggleOption "CaseSensitivity"; }
        bind "n" { Search "down"; }
        bind "o" { SearchToggleOption "WholeWord"; }
        bind "N" { Search "up"; }
        bind "w" { SearchToggleOption "Wrap"; }
    }
    session {
        bind "c" {
            LaunchOrFocusPlugin "configuration" {
                floating true
                move_to_focused_tab true
            }
            SwitchToMode "locked"
        }
        bind "d" { Detach; }
        bind "o" { SwitchToMode "normal"; }
        bind "p" {
            LaunchOrFocusPlugin "plugin-manager" {
                floating true
                move_to_focused_tab true
            }
            SwitchToMode "locked"
        }
        bind "w" {
            LaunchOrFocusPlugin "session-manager" {
                floating true
                move_to_focused_tab true
            }
            SwitchToMode "locked"
        }
    }
    shared_except "locked" "renametab" "renamepane" {
        bind "Ctrl g" { SwitchToMode "locked"; }
        bind "?" {
            LaunchOrFocusPlugin "file:~/.config/zellij/plugins/zellij_forgot.wasm" {
                "LOAD_ZELLIJ_BINDINGS" "false"
                floating true
                focus true
                // TODO: add keybindings i actually give a damn about
                "lock"                  "ctrl + g"
                "unlock"                "ctrl + g"
                "new pane"              "ctrl + p   n"
                "change focus of pane"  "ctrl + p   arrow key"
                "close pane"            "ctrl + p   x"
                "rename pane"           "ctrl + p   c"
                "toggle fullscreen"     "ctrl + p   f"
                "toggle floating pane"  "ctrl + p   w"
                "toggle embed pane"     "ctrl + p   e"
                "choose right pane"     "ctrl + p   l"
                "choose left pane"      "ctrl + p   r"
                "choose upper pane"     "ctrl + p   k"
                "choose lower pane"     "ctrl + p   j"
                "new tab"               "ctrl + t   n"
                "close tab"             "ctrl + t   x"
                "change focus of tab"   "ctrl + t   arrow key"
                "rename tab"            "ctrl + t   r"
                "sync tab"              "ctrl + t   s"
                "brake pane to new tab" "ctrl + t   b"
                "brake pane left"       "ctrl + t   ["
                "brake pane right"      "ctrl + t   ]"
                "toggle tab"            "ctrl + t   tab"
                "increase pane size"    "ctrl + n   +"
                "decrease pane size"    "ctrl + n   -"
                "increase pane top"     "ctrl + n   k"
                "increase pane right"   "ctrl + n   l"
                "increase pane bottom"  "ctrl + n   j"
                "increase pane left"    "ctrl + n   h"
                "decrease pane top"     "ctrl + n   K"
                "decrease pane right"   "ctrl + n   L"
                "decrease pane bottom"  "ctrl + n   J"
                "decrease pane left"    "ctrl + n   H"
                "move pane to top"      "ctrl + h   k"
                "move pane to right"    "ctrl + h   l"
                "move pane to bottom"   "ctrl + h   j"
                "move pane to left"     "ctrl + h   h"
                "search"                "ctrl + s   s"
                "go into edit mode"     "ctrl + s   e"
                "detach session"        "ctrl + o   w"
                "open session manager"  "ctrl + o   w"
                "Quit zellij"  "ctrl + g   q"
            }
            SwitchToMode "locked";
        }
        bind "f" {
            LaunchOrFocusPlugin "file:~/.config/zellij/plugins/zbuffers.wasm" {
            floating true
        }
            SwitchToMode "locked";
        }
        bind "q" {
            LaunchOrFocusPlugin "zj-quit" {
                floating true
                confirm_key "Enter"
                cancel_key "Esc"
            };
            SwitchToMode "locked";
        }
    }
    shared_except "locked" "entersearch" {
        bind "enter" { SwitchToMode "locked"; }
    }
    shared_except "locked" "entersearch" "renametab" "renamepane" {
        bind "esc" { SwitchToMode "locked"; }
    }
    shared_except "locked" "entersearch" "renametab" "renamepane" "move" {
        bind "m" { SwitchToMode "move"; }
    }
    shared_except "locked" "entersearch" "search" "renametab" "renamepane" "session" {
        bind "o" { SwitchToMode "session"; }
    }
    shared_except "locked" "tab" "entersearch" "renametab" "renamepane" {
        bind "t" { SwitchToMode "tab"; }
    }
    shared_except "locked" "tab" "scroll" "entersearch" "renametab" "renamepane" {
        bind "s" { SwitchToMode "scroll"; }
    }
    shared_among "normal" "resize" "tab" "scroll" "prompt" "tmux" {
        bind "p" { SwitchToMode "pane"; }
    }
    shared_except "locked" "resize" "pane" "tab" "entersearch" "renametab" "renamepane" {
        bind "r" { SwitchToMode "resize"; }
    }
    shared_among "scroll" "search" {
        bind "Ctrl b" { PageScrollUp; }
        bind "Ctrl c" { ScrollToBottom; SwitchToMode "locked"; }
        bind "d" { HalfPageScrollDown; }
        bind "Ctrl f" { PageScrollDown; }
        bind "h" { PageScrollUp; }
        bind "j" { ScrollDown; }
        bind "k" { ScrollUp; }
        bind "l" { PageScrollDown; }
        bind "u" { HalfPageScrollUp; }
    }
    entersearch {
        bind "Ctrl c" { SwitchToMode "scroll"; }
        bind "esc" { SwitchToMode "scroll"; }
        bind "enter" { SwitchToMode "search"; }
    }
    renametab {
        bind "esc" { UndoRenameTab; SwitchToMode "tab"; }
    }
    shared_among "renametab" "renamepane" {
        bind "Ctrl c" { SwitchToMode "locked"; }
    }
    renamepane {
        bind "esc" { UndoRenamePane; SwitchToMode "pane"; }
    }
}

plugins {
    compact-bar location="zellij:compact-bar"
    configuration location="zellij:configuration"
    filepicker location="zellij:strider" {
        cwd "/"
    }
    plugin-manager location="zellij:plugin-manager"
    session-manager location="zellij:session-manager" 
    status-bar location="zellij:status-bar"
    strider location="zellij:strider"
    tab-bar location="zellij:tab-bar"
    welcome-screen location="zellij:session-manager" {
        welcome_screen true
    }
    zj-quit location="file:/Users/abba/.config/zellij/plugins/zj-quit.wasm"
}

load_plugins {
  "file:/Users/abba/.config/zellij/plugins/zjframes.wasm" {
     hide_frame_for_single_pane       "false"
  }
}
simplified_ui false
theme "dracula"
default_mode "locked"
default_shell "/bin/zsh"
default_layout "default"
show_startup_tips false
show_release_notes true
layout_dir "/Users/abba/.config/zellij/layouts/"
theme_dir "/Users/abba/.config/zellij/themes/"
mouse_mode true
pane_frames false
ui {
    pane_frames {
        rounded_corners true
   }
}
mirror_session true
on_force_close "quit"
 
// Configure the scroll back buffer size
// This is the number of lines zellij stores for each pane in the scroll back
// buffer. Excess number of lines are discarded in a FIFO fashion.
// (Requires restart)
// Valid values: positive integers
// Default value: 10000
// 
// scroll_buffer_size 10000
 
// Provide a command to execute when copying text. The text will be piped to
// the stdin of the program to perform the copy. This can be used with
// terminal emulators which do not support the OSC 52 ANSI control sequence
// that will be used by default if this option is not set.
// Examples:
//
// copy_command "xclip -selection clipboard" // x11
// copy_command "wl-copy"                    // wayland
// copy_command "pbcopy"                     // osx
// 
// copy_command "pbcopy"
 
copy_clipboard "system"
copy_on_select false
scrollback_editor "nvim"
// session_name "default-session"
attach_to_session true
auto_layout true
session_serialization true
 
// Whether pane viewports are serialized along with the session, default is false
// Options:
//   - true
//   - false (default)
// 
// serialize_pane_viewport false
 
// Scrollback lines to serialize along with the pane viewport when serializing sessions, 0
// defaults to the scrollback size. If this number is higher than the scrollback size, it will
// also default to the scrollback size. This does nothing if `serialize_pane_viewport` is not true.
// 
// scrollback_lines_to_serialize 10000
 
styled_underlines true
 
// How often in seconds sessions are serialized
// 
// serialization_interval 10000
 
disable_session_metadata false
support_kitty_keyboard_protocol true
