#============================================= ios-garbage =============================================
.DS_Store
*.DS_Store

#============================================= Neovim =============================================
tmux/plugins/

#============================================= Neovim =============================================
nvim/lazy-lock.json
nvim/lazyvim.json
nvim/tt.*
nvim/.tests
nvim/doc/tags
nvim/debug
nvim/.repro
nvim/foo.*
nvim/*.log
nvim/data

#============================================= aerc =============================================
aerc/accounts.conf
aerc/accounts.conf

#============================================= karabiner =============================================
karabiner/automatic_backups

#============================================= Intellij =============================================
.idea/
jgit/
swiftpm/
tool_state
wireshark/

#============================================= helix =============================================
helix/runtime

#============================================= plymouth-themes =============================================
plymouth-themes
plymouth-themes/*.tar.gz

#============================================= xprop2i3 =============================================
scripts/xprop2i3/scMakefile
scripts/xprop2i3/Makefile.old
scripts/xprop2i3/Build
scripts/xprop2i3/Build.bat
scripts/xprop2i3/META.*
scripts/xprop2i3/MYMETA.*
scripts/xprop2i3/_build/
scripts/xprop2i3/.build/
scripts/xprop2i3/cover_db/
scripts/xprop2i3/blib/
scripts/xprop2i3/inc/
scripts/xprop2i3/.lwpcookies
scripts/xprop2i3/.last_cover_stats
scripts/xprop2i3/nytprof.out
scripts/xprop2i3/pod2htm*.tmp
scripts/xprop2i3/pm_to_blib
scripts/xprop2i3/xprop2i3-*
scripts/xprop2i3/xprop2i3-*.tar.gz

#============================================= xborder =============================================
scripts/xborder/__pycache__/
scripts/xborder/.update_ignore.txt
scripts/xborder/.idea
scripts/xborder/venv
