layout {
  tab name="Process manager" split_direction="horizontal" {
   pane {
        command "/Users/abba/.cargo/bin/pik" "--height=100"
        close_on_exit true
        name "Process manager"
    }
    pane size=1 borderless=true {
        plugin location="file:/Users/abba/.config/zellij/plugins/zjstatus.wasm" {

      //===================================== dracular color scheme =======================================
        color_base "#232136"
        color_surface "#2a273f"
        color_overlay "#8265AB"
        color_overlay_light "#BD93F9"
        color_active "#50FA7B"
        color_muted "#6e6a86"
        color_subtle "#908caa"
        color_text "#e0def4"
        color_love "#eb6f92"
        color_gold "#f6c177"
        color_rose "#ea9a97"
        color_pine "#3e8fb0"
        color_foam "#9ccfd8"
        color_Iris "#c4a7e7"
        color_highlight_low "#2a283e"
        color_highlight_med "#44415a"
        color_highlight_high "#56526e"
        color_black "#000000"

        format_left   "#[fg=$overlay_light,bold]{session} {mode}#[] "
        format_center "{tabs}"
        // format_right  "#[fg=$bg2]#[bg=$bg2,fg=$fg4] {command_user}@{command_host} #[bg=$bg2,fg=$fg3]#[bg=$fg3,fg=$bg1] {datetime} "
        format_space  "#[fg=$fg1]"
        format_hide_on_overlength "true"
        format_precedence "lrc"

        border_enabled  "false"
        border_char     "─"
        border_format   "#[fg=$bg1]{char}"
        border_position "top"

        mode_normal        "#[fg=$active,bold] NORMAL "
        mode_locked        "#[fg=$gold,bold] LOCKED "
        mode_pane          "#[fg=$pine,bold] PANE "
        mode_tab           "#[fg=$rose,bold] TAB "
        mode_scroll        "#[fg=$foam,bold] SCROLL "
        mode_enter_search  "#[fg=$text,bold] ENT-SEARCH "
        mode_search        "#[fg=$subtle,bold] SEARCH "
        mode_resize        "#[fg=$gold,bold] RESIZE "
        mode_rename_tab    "#[fg=$gold,bold] RENAME TAB "
        mode_rename_pane   "#[fg=$gold,bold] RENAME PANE "
        mode_move          "#[fg=$gold,bold] MOVE "
        mode_session       "#[fg=$love,bold] SESSION "
        mode_prompt        "#[fg=$love,bold] PROMPT "

        tab_normal              "#[fg=$text,bold] {name} {floating_indicator} "
        tab_normal_fullscreen   "#[fg=$text,bold] {name} {fullscreen_indicator} "
        tab_normal_sync         "#[fg=$text,bold] {name} {sync_indicator} "
        tab_active              "#[bg=$overlay,fg=$text,bold] {name} {floating_indicator} "
        tab_active_fullscreen   "#[bg=$overlay,fg=$text,bold] {name} {fullscreen_indicator} "
        tab_active_sync         "#[bg=$overlay,fg=$text,bold] {name} {sync_indicator} "
        tab_separator           " "

        tab_sync_indicator       ""
        tab_fullscreen_indicator "󰊓"
        tab_floating_indicator   "󰹙"

        notification_format_unread "#[bg=$orange,fg=$bg1]#[bg=$orange,fg=$bg1] {message} #[bg=$bg1,fg=$orange]"
        notification_format_no_notifications ""
        notification_show_interval "10"

        command_host_command    "uname -n"
        command_host_format     "{stdout}"
        command_host_interval   "0"
        command_host_rendermode "static"

        command_user_command    "whoami"
        command_user_format     "{stdout}"
        command_user_interval   "0"
        command_user_rendermode "static"

          }
      }
   }
}

