@-moz-document url-prefix("about:") {
  :root {
    --in-content-page-color: #cdd6f4 !important;
    --color-accent-primary: #404f3c !important;
    --color-accent-primary-hover: rgb(240, 182, 192) !important;
    --color-accent-primary-active: rgb(235, 167, 161) !important;
    background-color: #000000 !important;
    --in-content-page-background: #000000 !important;
  }
}
/* Variables and styles specific to about:preferences */
@-moz-document url-prefix("about:preferences") {
  :root {
    --zen-colors-tertiary: #000000 !important;
    --in-content-text-color: #ffffff !important;
    --link-color: #404f3c !important;
    --link-color-hover: #404f3c !important;
    --zen-colors-primary: #000000 !important;
    --in-content-box-background: #000000 !important;
    --zen-primary-color: #ffffff !important;
  }

  groupbox,
  moz-card {
    background: #000000 !important;
  }

  groupbox menulist {
    background: #000000 !important;
    color: #ffffff !important;
  }

  .main-content {
    background-color: #000000 !important;
  }
}

/* Variables and styles specific to about:newtab and about:home */
@-moz-document url-prefix(about:home), url-prefix(about:newtab), url-prefix(about:preferences) {
  :root {
    --newtab-background-color: #000000 !important;
  }
}
