* {
  font-family: "IosevkaInput" !important;
  font-weight: 800 !important;
  text-shadow: 1px 1px 2px #000000;
}

#zen-tabbox-wrapper {
  background: #000 !important;
}

#navigator-toolbox::before {
  --zen-main-browser-background: #000000 !important;
  --lwt-accent-color: #000000 !important;
}

#tabbrowser-tabs {
  & .tabbrowser-tab {
    &[selected] .tab-background {
      background-color: #404f3c !important;
    }
  }
}

/* Name: Better Unloaded Tabs */
/* Description: Makes unloaded tabs easier to notice by making them greyscale and transparent. */
/* Original Author: @Felkazz */
.tabbrowser-tab[pending="true"] {
  filter: grayscale(1);
  opacity: 0.5;
}

menupopup{
  color: #ffffff !important;
  background-color: #000000 !important;
}
menupopup > menuitem[_moz-menuactive="true"] {
  background-color: #404f3c !important;
}
menupopup > menuitem[selected="true"] {
  background-color: #404f3c !important;
}
